* {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1f1;
}
.menu {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  width: 4rem;
  background-color: #ffffff;
}
/*.test {
  list-style: none;
  background-color: ffffff;
  padding: 0;
  margin: 0;
}
*/

.imazhi {
  width: 3rem;
  height: 3rem;
}
.ora__lart {
  position: absolute;
  margin-top: 1rem;
  margin-right: 1rem;
  right: 0;
}
.form {
  /*transform: translate(50%, 50%);*/
  position: absolute;
  top: 40%;
  left: 30%;
  width: 400px;
  height: 200px;
  /*border: 2px solid;
  border-radius: 5px;*/
  background-color: #ffffff;
}
.timer {
  position: absolute;
  margin-top: 2rem;
  margin-left: 38%;
  font-size: 2rem;
  background-color: #ffffff;
}
.start__btn {
  width: 8rem;
  height: 3rem;
  position: absolute;
  margin-top: 5rem;
  margin-left: 38%;
  border-radius: 8px;
  background-color: rgb(9, 194, 9);
  color: #ffffff;
}
.imazh {
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-top: 10rem;
  background-color: #ffffff;
}
